@model Planet

 
<h1>Stars War</h1>

<p>Search by <a href="/Home/PersonSearch">Person</a>, <a href="Home/PlanetSearch">Planet</a>, or <a href="Home/StarshipSearch">Starship</a></p>

<h2>@Model.name</h2>